<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    

    <title>Document</title>
</head>
<body>
    <header >

        <div class="links" >
            <a href="/">Sobre </a>
            <a href="/classes.html">Aulas</a>
        </div>
    </header>
        

    <div id="wrapper" >

        <img src="https://images.unsplash.com/photo-1526925539332-aa3b66e35444?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80" alt="">
        <h1>Ricardo Lucas</h1>
        <h2>Aluno - Rocketseat </h2>
        <p>Programador e estudante fullstack, focado em trazer o melhor para o mercado de programação. Estudante na     <a href="https://rocketseat.com.br/" target="_blanck">rocketseat</a>  </p>
  
    
    </div>

    <div id="links-footer" class="links ">

        <a href="https://github.com/Lucaalmeida" target="_black">Github </a>
        <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D"target="_black">Twtter</a>
        <a href="https://www.linkedin.com/in/ricardo-lucas-1b66011ba/" target="_black">linkedin</a>

    </div>



    
</body>
</html>