<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    

    <title>Document</title>
</head>
<body>
    <header >

        <div class="links" >
            <a href="/">Sobre </a>
            <a href="/classes.html">Aulas</a>
        </div>
    </header>
        

    <div id="wrapper" >


        <img src="https://scontent.fcgh16-1.fna.fbcdn.net/v/t39.30808-6/260779522_1282101052288415_2398032020458721677_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeGp4CDyfvk4ZWWaRmTtO6RS4lrRTwlDR83iWtFPCUNHzWAwEO_0Ew4POIfI0c3q1TAIsvQDbdSvUtoMqZzFHsIo&_nc_ohc=qkLO8yx01G4AX8uARo2&_nc_ht=scontent.fcgh16-1.fna&oh=0287428406925037cec5b0321890dae8&oe=61A8296D" alt="">
        <h1>Ricardo Lucas</h1>
        <h2>Aluno - Rocketseat </h2>
        <p>Programador e estudante fullstack, focado em trazer o melhor para o mercado de programação. Estudante na     <a href="https://rocketseat.com.br/" target="_blanck">rocketseat</a>  </p>
    
    
    </div>

    <div id="links-footer" class="links ">

        <a href="https://github.com/Lucaalmeida" target="_black">Github </a>
        <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D"target="_black">Twtter</a>
        <a href="https://www.linkedin.com/in/ricardo-lucas-1b66011ba/" target="_black">linkedin</a>

    </div>



    
</body>
</html>